/* AH 26set19 */
@font-face {
  src: url(fonts/Lato-Black.ttf);
  font-family: 'latoBlack';    
  font-weight: normal;
  font-style: normal;
} 
* {
  background-color: #1b1412;
  text-shadow: 3px 3px 0 #000;
  text-align: center;
  font-family: "latoBlack", sans-serif;
}
input {
  position: relative;
  margin-top: 20px;
  padding: 3px 4px 2px 30px;
  width: 135px;
  font-size: 32px;
  color: orangered;
  border: 2px solid orangered;
  letter-spacing: 8px;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 0 #000;
}
h2 {
  color: #f1f1f1;
  text-transform: uppercase;
}